{% extends 'admin/master.html' %}
{% block head_css %}
{{ super() }}

{% endblock head_css %}
{% block brand %}
<img src="/static/logo.png" alt="" class="img-responsive center-block" />
{% endblock brand %}

{% block body %}
{{ super() }}
<h3>Algar linux compliance manager</h3>
				<div class="col-lg-3 col-md-6">
					<div class ="panel panel-primary">
						<div class="panel-heading">
							<div class="row">
								<div class="col-xs-3">
									<i class="fa fa-comments fa-5x"></i>
								</div>
								<div class="col-xs-9 text-right">
									<div class="huge">26</div>
									<div>Maquinas compliance</div>
								</div>
							</div>
						</div>

						<div>
							<a href="#"><span class="pull-left">
								<span class="panel-footer">
									
								</span>
							</span></a>
						</div>
						<img src="/static/safe_pie.png" alt="" class="img-responsive center-block" />
						<a href="#">
							<div class="panel-footer">
								<span class="pull-left"> {% if scanned_list is defined %}
								{{ scanned_list }}
								{% else %}
								variable is not defined
								{% endif %}</span>
								<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
								<div class="clearfix"></div>
							</div>
						</a>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class ="panel panel-info">
						<div class="panel-heading">
							<div class="row">
								<div class="col-xs-3">
									<i class="fa fa-comments fa-5x"></i>
								</div>
								<div class="col-xs-9 text-right">
									<div class="huge">3,9</div>
									<div>Nivel de severidade</div>
								</div>
							</div>
						</div>	
						<img src="/static/pie_severity.png" alt="" class="img-responsive center-block" />
						<a href="#">
							<div class="panel-footer">
								<span class="pull-left"> View Details</span>
								<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
								<div class="clearfix"></div>
							</div>
						</a>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class ="panel panel-warning">
						<div class="panel-heading">
							<div class="row">
								<div class="col-xs-3">
									<i class="fa fa-comments fa-5x"></i>
								</div>
								<div class="col-xs-9 text-right">
									<div class="huge">52</div>
									<div>Escaneando no momento</div>
								</div>
							</div>
						</div>	
						<button class="btn btn-danger" type="button">
  Faltando <span class="badge">4</span>
</button>
						
				</div>
				 <div class="span4">
                                    <div class="box">
                                        <div class="body">
                                            <table class="table table-bordered table-condensed table-hovered sortableTable">
                                                <thead>
                                                    <tr>
                                                        <th>Maquina <i class="icon-sort"></i><i class="icon-sort-down"></i><i
                                                                class="icon-sort-up"></i></th>
                                                        <th>Atributos Compliance <i class="icon-sort"></i><i class="icon-sort-down"></i><i
                                                                class="icon-sort-up"></i></th>
                                                        <th>Ultimo scan em <i class="icon-sort"></i><i class="icon-sort-down"></i><i
                                                                class="icon-sort-up"></i></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>Centos CTI</td>
                                                        <td>40</td>
                                                        <td>00:00:15</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Web Server CA</td>
                                                        <td>30</td>
                                                        <td>00:01:20</td>
                                                    </tr>
                                                    <tr class="error">
                                                        <td>Image Control</td>
                                                        <td>43</td>
                                                        <td>00:00:30</td>
                                                    </tr>
                                                    <tr class="info">
                                                        <td>Guarany</td>
                                                        <td>47</td>
                                                        <td>00:10:20</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Diamante</td>
                                                        <td>6</td>
                                                        <td>00:00:10</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Algar CRM</td>
                                                        <td>7</td>
                                                        <td>00:20:00</td>
                                                    </tr>
                                                    <tr class="success">
                                                        <td>Gateway Image</td>
                                                        <td>24</td>
                                                        <td>00:10:00</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

{% endblock body %}
