{% extends 'admin/master.html' %}
{% block body %}

					<div class="panel panel-default">
						<div class="panel-heading">
							<i class="fa fa-bell fa-fw"></i> Notifications Panel
						</div>
						<div class="panel-body">
							<div class="list-group">
								<a href="#" class="list-group-item">
									<i class="fa fa-comment fa-fw"></i> Nova Maquina
									<span class="pull-right text-muted small"><em>4 minutos atras</em>
									</span>
								</a>
								<a href="#" class="list-group-item">
									<i class="fa fa-envelope fa-fw"></i> Scan iniciado
									<span class="pull-right text-muted small"><em>27 minutos atras</em></span>
								</a>
								<a href="#" class="list-group-item">
									<i class="fa fa-tasks fa-fw"></i>Grafico atualizado
									<span class="pull-right text-muted small"><em>43 minutos atras</em></span>
								</a>
								<a href="#" class="list-group-item">
									<i class="fa fa-upload fa-fw"></i> Servidor reiniciado
									<span class="pull-right text-muted small"><em>Server Crashed</em></span>
								</a>
								<a href="#" class="list-group-item">
									<i class="fa fa-comment fa-fw"></i>
									Servidor Teste
									<span class="pull-right text-muted small"><em>Teste</em></span>
								</a>
							</div>
						</div>
					</div>

{% endblock body %}